body {
  background-color:  purple;;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="email"] {
  margin-top: 20px;
}

button[type="submit"] {
  margin-top: 20px;
}

button {
  background-color: green;
  color: white;
}

button.settings-button {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
button[type="submit"],
button.settings-button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}

input[type="text"] {
  margin-top: 50px;
}

input[type="email"] {
  margin-top: 20px;
}

button[type="submit"] {
  margin-top: 20px;
  background-color: green;
  color: white;
}

button.settings-button {
  margin-top: 20px;
  background-color: green;
  color: white;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
}

input {
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: none;
}

input[type="submit"] {
  background-color: #69d14b;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
}

.settings {
  background-color: #69d14b;
  color: white;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.5rem 1.5rem;
  border-radius: 0.5rem;
  margin-top: 2rem;
  cursor: pointer;
}

