body {
  background-color:  purple;;
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="email"] {
  margin-top: 20px;
}

button[type="submit"] {
  margin-top: 20px;
}

button {
  background-color: green;
  color: white;
}

button.settings-button {
  margin-top: 20px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type="text"],
input[type="email"],
button[type="submit"],
button.settings-button {
  width: 300px;
  height: 50px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 10px;
  box-sizing: border-box;
  outline: none;
}

input[type="text"] {
  margin-top: 50px;
}

input[type="email"] {
  margin-top: 20px;
}

button[type="submit"] {
  margin-top: 20px;
  background-color: green;
  color: white;
}

button.settings-button {
  margin-top: 20px;
  background-color: green;
  color: white;
}
